.Test {
    margin-right: 20px;
}
.closet__container {
    background-color: #fafafa;
}
.select{
     padding: 5% 0 7% 0;
     width: 50%;
     margin: 0 auto
 }
.logo-header {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 45px;
}
.info-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.card {
    border-radius: 10px;
    margin: 2px;
    
    &__overlay {
        height: 97%;
        &:hover .info-overlay {
            opacity: 0.95;
          }
        position: relative;
        color:white
    }
    &-container {
        padding: 15px  5% 50px 5%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       &--profile {
           padding-top: 5%;
       }
    }
    &__image {
        max-height: 100px;
        max-width: 100px;
    }
}
@include medium {
    .card {
        &-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__image {
            max-height: 200px;
            max-width: 200px;
        }
    }
}
@include huge {
.card {
    margin: 30px;
    
    &-container {
        padding: 0 5%;
        display: flex;
    }
   
}
}