.hero {
    &-back {
        background: linear-gradient( #725ac1, #8d86c9, #cac4ce);
    }
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__image {
        height: 80vw;
    }
    &__header {
        font-family: AvenirRegular;
        color: white;
        text-align: center;
        margin-top: 30%;
    }
}
@include medium {
    .hero{
        &__image {
            height: 40vw
        }
        &__header {
            margin-top: 5%;
        }
    }
  
}
@include large {
    .hero {
        &__image {
            height: 30vw;
        }
    }
}

