/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  #myLinks {
    position: absolute;
    right: 5%;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
  }
  .topnav #myLinks {
    text-align: right;
    display: none;
  }
  
  
  /* Style navigation menu links */
  .topnav a, .topnav div {
    color: white;
    padding: 14px 5%;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  .drop {
    z-index: 5;
    color: white;
    padding: 14px 5%;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  /* Style the hamburger menu */
  .topnav div.icon {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  
  /* Style the active link (or home/logo) */
  .navactive {
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
    color: white;
  }
  .link {
    &--color {
      color:black;
    }
  }
  .nav__fit {
    background-color: #CAC4CE;
  }