.register {
    &__page {
        text-align: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-input {
            margin: 10px 0;
            border-radius: 10px;
            padding: 5px;
            border: 2px solid black;
            text-indent: 30px;
            outline: none;
            width: 30%;
            height: 50px;
        }
    }
}