.form { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 30px;
    
}
.btn {
    &-1 {
      text-align: center;
      margin: 10px 20px;
      height:20px ;
      background-color: #8D86C9;
      box-shadow: 0 6px darken(#8D86C9, 10%);
      transition: none;
    }
    &__upload {
        height:52px ;
        background-color: red;
        box-shadow: 0 6px darken(red, 10%);
        transition: none;
        margin: 10px 20px;
        &:hover {
            box-shadow: 0 4px darken(red, 10%);
            top: 2px;
          }
    }
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
  [type="file"] + label, .btn__upload  {
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
      font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
 
    &.btn-1 {
      &:hover {
        box-shadow: 0 4px darken(#8D86C9, 10%);
        top: 2px;
      }
    }
}
.upload { 
  height: 100vh;
    background-color:#CAC4CE ;
    &__form {
      padding-bottom: 30px;
    }
    &__content {
      flex-direction: column;
        height: 80vh;
        padding: 0 5%;
        display: flex;
        align-items: center;
    }
    &__image {
        width: 75%;
    }
}
@include medium {
  .upload {
    &__image {
      width: 60%;
  }
  }
  .form { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

@include large {
  .upload {
    &__content {
      flex-direction: row;
    }

    &__image {
      width: 50%;
    }
  }
}
}