@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@font-face {
  font-family: AvenirRegular;
  src: url("../assets/fonts/AvenirRegular.otf");
}

@font-face {
  font-family: AvenirBold;
  src: url("../assets/fonts/AvenirBold.otf");
}

@font-face {
  font-family: AvenirDemi;
  src: url("../assets/fonts/AvenirDemi.otf");
}

/* media query for tablet */
/* media query for landscape, medium pixel density desktops */
/* media query for high pixel density desktops */
.hero {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero-back {
  background: -webkit-gradient(linear, left top, left bottom, from(#725ac1), color-stop(#8d86c9), to(#cac4ce));
  background: linear-gradient(#725ac1, #8d86c9, #cac4ce);
}

.hero__image {
  height: 80vw;
}

.hero__header {
  font-family: AvenirRegular;
  color: white;
  text-align: center;
  margin-top: 30%;
}

@media only screen and (min-width: 768px) {
  .hero__image {
    height: 40vw;
  }
  .hero__header {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero__image {
    height: 30vw;
  }
}

.hidden {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
}

.modal {
  z-index: 20;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}

.modal__tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 20px;
}

.modal__content {
  padding: 0 5%;
  opacity: 1;
  background-color: white;
  height: 35%;
  width: 80%;
  border-radius: 5px;
}

.modal__content-header {
  padding: 32px 0;
  font-family: AvenirRegular;
}

.modal__content-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 5px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
}

.modal__content-div-text {
  margin: 12px;
}

.modal__content-subheader {
  margin: 0 0 8px 0;
  color: black;
}

.modal__content-input {
  height: 48px;
  width: 100%;
  border: solid black 2px;
  background-color: white;
  text-indent: 5px;
  border-radius: 5px;
  margin-bottom: 24px;
}

.modal__content-input--description {
  height: 80px;
  margin-bottom: 20px;
}

.modal__content-status {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
}

.modal__content-submit {
  width: 100%;
  background-color: red;
  color: white;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.modal__content-cancel {
  text-align: center;
  border: none;
  text-align: center;
  margin: 0 5px;
  background-color: #8d86c9;
  color: white;
  border-radius: 5px;
  height: 30px;
}

.add-post {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 40px;
  right: 32px;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .modal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal__content {
    width: 50%;
    border-radius: 5px;
    padding: 0 3.125%;
  }
  .modal__content-btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .modal__content-submit {
    width: 165px;
    margin-left: 48px;
  }
  .modal__content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .modal__content-container-input {
    width: 45%;
  }
  .modal__content-status {
    margin: 0 0 20px 0;
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .add-post {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    right: 64px;
    bottom: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .modal__content {
    height: 50%;
  }
}

.Test {
  margin-right: 20px;
}

.closet__container {
  background-color: #fafafa;
}

.select {
  padding: 5% 0 7% 0;
  width: 50%;
  margin: 0 auto;
}

.logo-header {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 45px;
}

.info-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: black;
}

.card {
  border-radius: 10px;
  margin: 2px;
}

.card__overlay {
  height: 97%;
  position: relative;
  color: white;
}

.card__overlay:hover .info-overlay {
  opacity: 0.95;
}

.card-container {
  padding: 15px  5% 50px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-container--profile {
  padding-top: 5%;
}

.card__image {
  max-height: 100px;
  max-width: 100px;
}

@media only screen and (min-width: 768px) {
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card__image {
    max-height: 200px;
    max-width: 200px;
  }
}

@media only screen and (min-width: 1440px) {
  .card {
    margin: 30px;
  }
  .card-container {
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.kebab {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px;
  top: 12px;
}

.kebab figure {
  background-color: #cac4ce;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  margin: 3px 0;
}

.kebab p {
  color: black;
  font-weight: bold;
}

.middle {
  -webkit-transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  -webkit-transform: scale(1);
          transform: scale(1);
  position: relative;
  -webkit-box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(0.1px);
  filter: blur(0.1px);
}

.middle.active {
  -webkit-transform: scale(4.5);
          transform: scale(4.5);
  -webkit-transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
  transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
  -webkit-box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  color: white;
  -webkit-transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown {
  padding: 0 20px;
  z-index: 1;
  color: black;
  background-color: white;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 3em;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.dropdown__text {
  color: black;
  font-weight: 100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.dropdown li {
  padding: 0;
  display: block;
  width: 100%;
}

.dropdown li a {
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown li a:hover {
  background: white;
}

.dropdown:hover ul {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.dropdown.active {
  -webkit-box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
}

.cross.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54);
  transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54);
}

.outfit__icons {
  height: 50px;
}

.outfit__icons-container {
  margin-right: 20px;
}

.edit {
  cursor: pointer;
}

.outfit {
  padding: 0 12.5%;
}

.outfit__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 0.5px black;
}

.outfit__name {
  margin-right: auto;
}

.outfit__image {
  width: 70%;
}

.outfit__header {
  text-align: center;
  margin-right: 10px;
}

.outfit__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.side {
  padding: 0 10%;
}

.create-btn {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid #dd0256;
  border-radius: 40px;
  font: normal 15px "Advent Pro", Helvetica, sans-serif;
  color: #dd0256;
  text-align: center;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.create-btn:hover {
  color: white;
  background: #dd0256;
}

.create-btn:active {
  border: 2px solid #ed075f;
  background: #ed075f;
  -webkit-transition: none;
  transition: none;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
  position: absolute;
  right: 5%;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.topnav #myLinks {
  text-align: right;
  display: none;
}

/* Style navigation menu links */
.topnav a, .topnav div {
  color: white;
  padding: 14px 5%;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.drop {
  z-index: 5;
  color: white;
  padding: 14px 5%;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

/* Style the hamburger menu */
.topnav div.icon {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
/* Style the active link (or home/logo) */
.navactive {
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
  color: white;
}

.link--color {
  color: black;
}

.nav__fit {
  background-color: #CAC4CE;
}

.enjoy-css {
  font-family: AvenirRegular;
  font-size: 20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #8D86C9;
  border-radius: 40px;
  color: #8D86C9;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.enjoy-css:hover {
  color: white;
  background: #8D86C9;
}

.enjoy-css:active {
  border: 2px solid #9c95db;
  background: #9c95db;
  -webkit-transition: none;
  transition: none;
}

.login__button {
  border: none;
  background-color: #725ac1;
  height: 3rem;
  color: white;
  width: 4.2rem;
  font-size: 1.125rem;
  border-radius: 3px;
}

.login__input {
  margin: 0 5px;
  border: solid #fafafa 1px;
  text-indent: 5px;
  width: 35%;
  height: 40px;
}

.login-hero {
  height: 100vh;
  background-color: #CAC4CE;
}

.login-hero__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 2.5%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-hero__image {
  width: 80vw;
}

.login-hero__header {
  font-family: 'AvenirBold', serif;
  color: white;
  margin: 2px 0;
  text-align: center;
}

.login-hero__header--sub {
  margin-top: 20px;
}

.login-hero__content {
  padding-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75%;
}

.login-hero h1 {
  margin: 0;
}

.login-hero__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .login__input {
    margin-top: 50px;
  }
  .login-hero__image {
    width: 60vw;
  }
}

@media only screen and (min-width: 1024px) {
  .login-hero__image {
    width: 50vw;
  }
  .login-hero__content {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 75%;
  }
  .login-hero__header {
    text-align: left;
  }
  .login-hero__btn-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.btn-1 {
  text-align: center;
  margin: 10px 20px;
  height: 20px;
  background-color: #8D86C9;
  -webkit-box-shadow: 0 6px #6c63b9;
          box-shadow: 0 6px #6c63b9;
  -webkit-transition: none;
  transition: none;
}

.btn__upload {
  height: 52px;
  background-color: red;
  -webkit-box-shadow: 0 6px #cc0000;
          box-shadow: 0 6px #cc0000;
  -webkit-transition: none;
  transition: none;
  margin: 10px 20px;
}

.btn__upload:hover {
  -webkit-box-shadow: 0 4px #cc0000;
          box-shadow: 0 4px #cc0000;
  top: 2px;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label, .btn__upload {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
}

[type="file"] + label.btn-1:hover, .btn__upload.btn-1:hover {
  -webkit-box-shadow: 0 4px #6c63b9;
          box-shadow: 0 4px #6c63b9;
  top: 2px;
}

.upload {
  height: 100vh;
  background-color: #CAC4CE;
}

.upload__form {
  padding-bottom: 30px;
}

.upload__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload__image {
  width: 75%;
}

@media only screen and (min-width: 768px) {
  .upload__image {
    width: 60%;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1024px) {
  .upload__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .upload__image {
    width: 50%;
  }
}

.feed__container {
  padding: 0 10%;
}

.feed__post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  border-bottom: black 0.5px solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed__text {
  margin-right: auto;
}

.feed__image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.feed__outfit-text {
  text-align: center;
}

.profile__user {
  margin: 0 0 15px 0;
}

.profile__button {
  background-color: #fafafa;
  border: 1px solid black;
  margin: 0 0 18px 0;
}

.profile__container {
  margin: 30px 10% 0 0;
}

.profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 100;
}

.profile__image {
  border: 1px solid #fafafa;
  margin: 20px 25px;
  width: 77px;
  height: 77px;
  border-radius: 50%;
}

.profile__followers {
  margin: 0;
}

.profile__followers-text {
  margin: 0;
}

.profile__following {
  margin: 0;
}

.profile__following-text {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .profile {
    padding: 0 10%;
  }
  .profile__image {
    height: 150px;
    width: 150px;
    margin-right: 8vw;
  }
  .profile__container {
    margin: 60px 5% 0 0;
  }
  .profile__button {
    width: 111px;
    font-size: 19px;
  }
  .profile__user {
    font-size: 25px;
  }
  .profile__followers, .profile__following, .profile__followers-text, .profile__following-text {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .profile__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body {
  background-color: #fafafa;
  font-family: AvenirRegular;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
/*# sourceMappingURL=main.css.map */