@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import "./partials/fonts";
@import "./partials/breakpoints";
@import "./partials/hero";
@import "./partials/modal";
@import "./partials/clothes-card";
@import "./partials/kebab";
@import "./partials/outfits";
@import "./partials/sidenav";
@import "./partials/navbar";
@import "./partials/loginhero";
@import "./partials/upload";
@import "./partials/feed";
@import "./partials/profile";

 body {
    background-color: #fafafa;
    font-family: AvenirRegular
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}